
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    background-color: rgb(239, 250, 255);
    font-weight: 200;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    width: 80vw;

    margin-left: 10vw;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .webowner{
    display: block;
  }
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  .imgLogo{

        transition: transform 4s ease-in-out;
    }
    .imgLogo:hover {
        transform: rotate(3600deg);
       
    }
    
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  a.active, a:hover{
    font-weight: bold;
    transition: 0.6s;
    
}

.introduction{
    width: 70vw;
    height: auto;
    border: 2px ;
    margin-left: 15vw;
    margin-top: 5%;
}

.project1{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 2.5%;
}
.project2{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 2.5%;
}


@media (max-width: 805px) {
    header{
        width: 90vw;
        margin-left: 5vw;
    }
}
@media (max-width: 625px) {
    .webowner{
        display: none;
    }
    
}

@media (min-width: 550px) 
{
    
}
