
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: "San Francisco", Arial, sans-serif;
    background-color: rgb(239, 250, 255);
    font-weight: 200;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    width: 90vw;

    margin-left: 5vw;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .webowner{
    display: block;
  }
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  .imgLogo{

        transition: transform 4s ease-in-out;
    }
    .imgLogo:hover {
        transform: rotate(3600deg);
       
    }
    
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  a.active, a:hover{
    font-weight: bold;
    transition: 0.6s;
    
}



/*Body of the web page */
/*Project page introduction*/
.projectPageIntro{
    margin-left: 15vw;
    font-family: "San Francisco", Arial, sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
}

.ppIemoji{
    font-size:100px;
  
  }
  .ppItext{
    font-size:90px;
    font-weight: bolder; 
    letter-spacing: 1px;
  }
/*fruit rush project*/
.container1{
    width: 80vw;
    height: 70vh;
    font-family: "San Francisco", Arial, sans-serif;
    font-weight: bold;
   
 
    margin-left: 10vw;
    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 1fr;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}
.container1 div{
    padding: 10px;
    }
.header1{
    /*They are the lines form line 1 to line 4 in this case*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / span 1;
    
}

.containertitle{
    font-size: 3rem;
}

#cl11{
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;

    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid purple 2px;
}
#cl12{
    grid-row: 2 / span 1;

    grid-column: 3 / span 1;
    background-image: url(/picture/project/gamedev/unityPic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid brown  2px;
}
#cl13{
    grid-row: 3 / span 1;

    grid-column: 3 / span 1;
    background-image: url(/picture/project/gamedev/vsMicrosoft.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid brown 2px;
}
.FR_video{
    position: inherit;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
/*Excel project*/
.container2{
    width: 80vw;
    height: 70vh;
    font-family: "San Francisco", Arial, sans-serif;
    font-weight: bold;
   
 
    margin-left: 10vw;
    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 1fr;
    gap: 20px;

    padding: 10px;
    box-sizing: border-box;
}
.container2 div{
    padding: 10px;
    }
.header2{
    /*They are the lines form line 1 to line 4 in this case*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / span 1;
    
}
#cl21{
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    
    background-image: url(/picture/project/excel/excelPic3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid rgb(41, 68, 41) 2px;

}
#cl22{
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;

    
    background-image: url(/picture/project/excel/excel.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 3%;
    border: solid rgb(41, 68, 41) 2px;
}

/*Online voting website*/
.container3{
    width: 80vw;
    height: 70vh;
    font-family: "San Francisco", Arial, sans-serif;
    font-weight: bold;
   
    margin-left: 10vw;
    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 1fr;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}
.container3 div{
    padding: 10px;
    }
.header3{
    /*They are the lines form line 1 to line 4 in this case*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / span 1;
    
}
#cl31{
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;

    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid rgb(224, 239, 125) 2px;
}
#cl32{
    grid-row: 2 / span 1;

    grid-column: 3 / span 1;
    background-image: url(/picture/project/onlineVotingWeb/djangopi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid rgb(8, 107, 137)  2px;
}
#cl33{
    grid-row: 3 / span 1;

    grid-column: 3 / span 1;
    background-image: url(/picture/project/onlineVotingWeb/settingsPic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid brown 2px;
}
.ONV_website_video{
    position: inherit;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}


/*Screen  sizing*/
@media (max-width:1100px) {
    .ppItext{
        font-size: 8vw;
    }

    .containertitle{
        font-size: 4.5vw;
    }
    .container1, .container2, .container3{
        height: 45vw;
    }
}
@media (max-width: 900px) {

    .projectPageIntro{
        margin-bottom: 1vw;

        transition: ease-out;
    }


    .container1, .container2, .container3{
        height: 48vw;
        display: block;
        margin-bottom: 5vw;
        
        transition: ease-out;
    }

    #cl12, #cl13,#cl22, #cl23,#cl32, #cl33{
        display: none;
    }
    
    
}
@media (max-width: 630px) {
    .webowner{
        display: none;
    }   

    .ppIemoji{
            font-size: 12vw;

            transition: ease-out;
    }
    
}

@media (max-width: 550px) 
{
    
}
